/* Ini CSS */

.main-title {
    text-align: center;
}

main {
    display: flex;
}

form {
    padding: 12px;
    background-color: aliceblue;
}

aside {
    padding: 48px;
}

.button {
    height: 32px;
    border: 1px;
    border-radius: 4px;
}

.form-btn-container {
    margin-top: 24px;
    margin-bottom: 16px;
}

.bg-skyblue {
    background-color: skyblue;
}

.bg-reset {
    background-color: whitesmoke;
    color: black;
}

.keunggulan-fitur {
    font-size: large;
    font-weight: lighter;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
  }

  footer {
    text-align: center;
  }

.hasilnya {
    text-align: center;
    height: 350px;
}

.title-kedua {
    font-size: x-large;
}

.brt-badan-lebih {
    font-size: xx-large;
}

.hasil-247 {
    font-size: xx-large;
    font-weight: normal;
}

.anda-memiliki {
    font-size: x-large;
}