body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4f4f4;
    padding: 5px;
    text-align: left;
}

.main-title {
    margin: 0;
    text-align: left;
    border: none;
    color: rgb(0, 162, 255);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.5em;
    margin: 10px 0;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

aside {
    width: 48%;
}

article {
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-btn-container {
    margin-top: 10px;
    margin-bottom: 50px;
}

.button {
    padding: 10px 20px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.bg-skyblue {
    background-color: #3cc5fc;
}

.bg-reset {
    background-color: #ff6f61;
}

.title-kedua {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.result-box {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 250px;
}

.hasilnya {
    margin-top: 30px;
    margin-left: 10px;
}

.result-group {
    margin-bottom: 20px;
    margin-left: 10px;
}

.btn-container {
    margin-top: 20px;
}

.btn-konsulregis, .download-hasil, .konsulregisvia {
    background-color: #3cc5fc;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
}

.penyakit-group ul {
    list-style-type: disc;
    margin: 10px 0;
    margin-left: 10px;
}

footer {
    margin-top: 10px;
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    main {
        flex-direction: column;
    }
}