* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* margin: 0;
    padding: 0; */
    background-color: #f4f4f4;
}

.main-title {
    background-color: hsl(189, 83%, 57%);
    margin: 50;
    padding: 20px 20px;
    font-size: 2rem;
    color: #ffffff;
    text-align: left;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.kalimat-pertama {
    margin-top: 10px;
    margin-bottom: 30px;
}

aside {
    width: 48%;
}

article {
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.form-btn-container {
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 10px;
}

.bg-skyblue {
    background-color: #3cc5fc;
}

.bg-reset {
    background-color: #ff6f61;
}

.kategori {
    margin-top: 50px;
    font-size: x-large;
}

.kategori-bawah {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 10px;
}

.result-box {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    margin-top: 20px;
}

.bmi-value {
    font-size: 1.2rem;
}

.bmi-category {
    font-size: 1.2rem;
    margin-top: 30px;
}
.title-kedua {
    margin-top: 10px;
    font-size: x-large;
}

.hasilnya {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #000000;
}

.btn-container {
    margin-top: 20px;
}

.btn-konsulregis, .konsulregisvia {
    background-color: #3cc5fc;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    margin: 5px;
}

.penyakit-group ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 10px 0;
}

footer {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.keunggulan-fitur {
    text-align: left;
    padding: 10px;
    margin: 0;
}

.satuduatiga {
    margin-top: 10px;
}

.hasil-perhitungan {
    margin-bottom: 30px;
}

.download-aplikasi {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: 0px;
}

/* Untuk menyesuaikan tampilan website pada layar ponsel */
@media only screen and (max-width: 480px) {
    main {
        flex-direction: column;
    }

    .aside-kiri, .aside-kanan {
        width: 100%;
    }
}

.download-hasil {
    margin-top: 50px;
    background-color: #499971;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    margin: 5px;
    }

.download-bawah {
    margin-top: 30px;
    font-size: x-large;
}